.board-square {
  width: 60px;
  height: 60px;
}

.board-square.white {
  background-color: white;
  color: black;
}
.board-square.white:hover {
  /* background-color: wheat; */
}

.board-square.black {
  background-color: black;
  color: white;
}
.board-square.black:hover {
  /* background-color: darkslategray; */
}