.board-cell {
  width: 80px;
  height: 80px;
}

.board-cell.white {
  background-color: white;
  color: black;
}
.board-cell.white:hover {
  /* background-color: wheat; */
}

.board-cell.black {
  background-color: black;
  color: white;
}
.board-cell.black:hover {
  /* background-color: darkslategray; */
}