.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  height: 6rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.App-content {
  background-color: #497bdd;
  padding: 1rem;
  height: calc(100vh - 8rem);
  width: 100%;
}

.rotating-div {
  background-color: antiquewhite;
  height: 10rem;
  width: 10rem;
  border-radius: 4px;
}